BEGIN;
--
-- Create model Aluno
--
CREATE TABLE "alunos_aluno" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nome" varchar(200) NOT NULL, "email" varchar(254) NOT NULL UNIQUE, "cpf" varchar(14) NOT NULL UNIQUE, "data_ingresso" date NOT NULL, "data_criacao" datetime NOT NULL);
COMMIT;
BEGIN;
--
-- Create model Curso
--
CREATE TABLE "cursos_curso" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nome" varchar(200) NOT NULL, "carga_horaria" integer NOT NULL, "valor_inscricao" decimal NOT NULL, "status" varchar(10) NOT NULL, "data_criacao" datetime NOT NULL);
COMMIT;
BEGIN;
--
-- Create model Matricula
--
CREATE TABLE "matriculas_matricula" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "data_matricula" date NOT NULL, "status_pagamento" varchar(10) NOT NULL, "valor_pago" decimal NOT NULL, "aluno_id" bigint NOT NULL REFERENCES "alunos_aluno" ("id") DEFERRABLE INITIALLY DEFERRED, "curso_id" bigint NOT NULL REFERENCES "cursos_curso" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE UNIQUE INDEX "matriculas_matricula_aluno_id_curso_id_33593b93_uniq" ON "matriculas_matricula" ("aluno_id", "curso_id");
CREATE INDEX "matriculas_matricula_aluno_id_d591b5d8" ON "matriculas_matricula" ("aluno_id");
CREATE INDEX "matriculas_matricula_curso_id_9a6f98d5" ON "matriculas_matricula" ("curso_id");
COMMIT;
BEGIN;
--
-- Create model Transacao
--
CREATE TABLE "financeiro_transacao" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "valor" decimal NOT NULL, "data" datetime NOT NULL, "tipo" varchar(20) NOT NULL, "descricao" text NOT NULL, "matricula_id" bigint NOT NULL REFERENCES "matriculas_matricula" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "financeiro_transacao_matricula_id_e7ec37ca" ON "financeiro_transacao" ("matricula_id");
COMMIT;
